$primary-color: #FF512F;
$secondary-color: #7a7c8a;
$form-bg: #fff;
$motivationsBlue: #0E4F57;
$sans: 'mr-eaves-xl-modern-narrow', sans-serif;
$headingFont: 'mr-eaves-xl-modern-narrow', sans-serif;
$serif: "mrs-eaves", serif;